
.body1{
  display: flex;
  background-color: #D1BB9E;
  width: 100%;
  height: 100vh;
}
.body_left{
  background-color: #FFF2E1;
  height: 90%;

 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 margin-left: 22px;
 border-radius: 10px;
}


/* navigation */
.body_left{
  margin-top: 38px;
}
.body_left  i a{
  color:#A79277;
  text-decoration: none;
  display: flex;
  margin-right: 25px;
  padding-left: 35px;
}
.body_left i{
  margin-left: 25px;

  margin-top:15px
}

.bi-back{
  color: #A79277}

.body_left i:hover{
   transform: translateY(-4px); 
 transition-duration: 0.5s;
}
.right_bottom{
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
  /* background-color: blanchedalmond; */
}
.right_top{
  color:#FFF2E1;

  /* background-color: aqua; */
  text-align: right;
  font-family: "Cedarville Cursive", cursive;

}
.right_bottom_text{
  /* background-color: #FFF2E1; */
text-wrap: wrap;
margin-right: 9vw;
border-radius: 10px;
margin-left: 2vw;
text-align: center;

}
.right_bottom_text p , h3{
  padding-left: 15px;
  padding-right: 12px;
  padding-top: 14px;
  font-family: "Montserrat", sans-serif;
}
.right_bottom_photo{
margin-right: 100px;
text-align: center;
margin-top: 170px;
/* background-color: aquamarine; */

}
.image img{ 
width: 80px;
height: 250px;
padding-right: 14px;
padding-bottom: 185px;
}
.skills{
  /* margin-top: 1000px; */
  background-color: #FFF2E1;
  margin-top: 4.5vw;
  border-radius: 10px;

}
.text1{
  background-color: #FFF2E1;
  border-radius: 10px;
}
.t2 a{
  text-decoration: none;
  color: #D1BB9E;
  font-style:italic;
  font-weight: bold;
  font-family: "Reddit Mono", sans-serif;
}
.t1 a{
  text-decoration: none;
  color: #D1BB9E;
  font-style:italic;
  font-weight: bold;
  font-family: "Reddit Mono", sans-serif;
}

.t2 a:hover{
  color: #FDAF7B;
  text-decoration: underline #FDAF7B;
  transition-duration: 0.3s;

}
.t1 a:hover{
  color: #FDAF7B;
  text-decoration: underline #FDAF7B;
  transition-duration: 0.3s;
}
.body_left h3{
  font-family: "Reddit Mono", sans-serif;
}